.nav-container{
    width: 100%;
    height: 3.5rem;

    display: flex;
    background: white;
    justify-content: space-between;
}

.nav-text{
    display: flex;

    text-align: center;

    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    
    color: black;
    font-family: 'Source Code Pro';
}

.nav-button{
    display: flex;

    text-align: center;

    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;

}

.nav-links{
    display: flex;

    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-links p{
    padding: 10px 0 15px 0 ;
}

.links{
    display: flex;
}

.links p:hover{
    color: #116DFF;
}

.seta{
    display: flex;
    justify-content: space-between;

    margin-right: 2rem;
    margin-left: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-menu{

    justify-content: center;

    list-style: none;
    font-style: none;
}